@import url("../plugins/font-awesome-4.7.0/css/font-awesome.min.css");
@import url("../plugins/animate.min.css");
@import url("../plugins/bootstrap.min.css");
@import url("../plugins/bootstrap-select.min.css");
@import url("../plugins/jquery-ui/jquery-ui.css");
@import url("../plugins/timePicker.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Source+Sans+Pro:400,600,700");
body {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}



.hero-slider .slider-item {
  height: 80vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}



.hero-slider .content {
  position: relative;
  z-index: 2;
}


@media (max-width: 767px) {
  .hero-slider .content.style h2 {
    font-size: 30px;
  }
}




.hero-slider .slick-dots {
  bottom: 20px;
}

.hero-slider .slick-dots li {
  margin: 0 3px;
}

.hero-slider .slick-dots li button:before {
  font-size: 15px;
}

.hero-slider .slick-dots li.slick-active button:before {
  color: #fff;
}

.hero-slider .slick-prev {
  left: 20px;
  z-index: 100;
}


.hero-slider .slick-next {
  right: 20px;
  z-index: 100;
}


